/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Set your background color */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 1;
    z-index: 9999;
    flex-direction: column;
    
  }
  
  /* Hide preloader when loaded */
  .preloader.loaded {
    opacity: 0;
    pointer-events: none;
  }
  
  /* Logo styles */
  .logo {
    width: 20%; /* Adjust the width and height as needed */
    height: auto;
    margin-right: 20px; /* Adjust spacing */
  }
  
  /* Text styles */
  .text {
    font-size: 18px; /* Adjust font size as needed */
    color: #ffffff; /* Set your text color */
  }
  @media screen and (max-width: 500px){
    .logo{
      width: 60%;
    }
  }