@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .image-container {
    overflow: hidden;
    padding: 10px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .image-container:before,
  .image-container:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .image-container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .image-container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .image-container:hover .image-slide {
    animation-play-state: paused;
  }
  
  .image-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
  }
  
  .image-slide img {
    height: 100px;
    margin: 0 20px;
    border-radius: 7px;
  }
  @media screen and (max-width: 973px) {
    .image-container{
        display: none;
    }
  }